nav {
    min-height: 10vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    button {
        display: flex;
        flex-direction: row;
        background: transparent;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid rgb(65,65, 65);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(65, 65, 65);
            color: #FFF;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}